.faq-item {
  height: auto;
  margin-bottom: 21px;
}

.accordion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
}

.icon-container {
  width: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.question {
  color: var(--dark-purple);
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

.question:hover {
  color: hsl(281, 83%, 54%);
}

.answer {
  color: var(--grayish-purple);
  line-height: 1.5em;
  padding: 22px 0 2px;
}

@media only screen and (max-width: 768px) {
  .faqs-container {
    margin-bottom: 25px;
  }

  .icon-star {
    width: 25px;
  }

  .faqs {
    font-size: 31.5px;
    margin-left: 24px;
  }

  .faq-item {
    margin-bottom: 17px;
  }

  .icon-container {
    width: 80px;
  }

  .question {
    font-size: 16px;
  }

  .answer {
    font-size: 14px;
    padding: 25px 0 2px;
  }
}
