<main>
  <div class="pattern-bg">
    <div class="card">
      <div class="faqs-container">
        <img
          class="icon-star"
          src="../assets/images/icon-star.svg"
          alt="icon-star"
        />
        <p class="faqs">FAQs</p>
      </div>
      <div *ngFor="let item of faqItem; let last = last; let i = index">
        <div class="faq-item" (click)="toggleAccordion(i)">
          <div class="accordion">
            <p class="question">
              {{ item.question }}
            </p>
            <div class="icon-container">
              <span *ngIf="clickedIndex !== i"
                ><img src="../assets/images/icon-plus.svg" alt="icon-plus"
              /></span>
              <span *ngIf="clickedIndex === i"
                ><img src="../assets/images/icon-minus.svg" alt="icon-minus"
              /></span>
            </div>
          </div>
          <p class="answer" *ngIf="clickedIndex === i">
            {{ item.answer }}
          </p>
          <hr *ngIf="!last" />
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="attribution">
  Challenge by
  <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
    >Frontend Mentor</a
  >. Coded by
  <a href="https://www.frontendmentor.io/profile/feliceNicolasBarcellona"
    >Felice Nicolas Barcellona</a
  >.
</footer>
